{% extends "template.html" %}
{% block title %}Agents{% endblock %}
{% block h1 %}Liste des agents{% endblock %}

{% block content %}
{% load display_description %}

<p>T'as besoin de types pour faire ton sale boulot ? Ils sont là pour toi.</p>

<h2>Fixers</h2>
<p>{% display_description "fixer" %}</p>

<p class="right">&rarr; <a href="/agents/fixers/">Liste des fixers</a></p>

<h2>Yakuzas</h2>
<p>{% display_description "yakuza" %}</p>

<p class="right">&rarr; <a href="/agents/yakuzas/">Liste des yakuzas</a></p>

<h2>Agences</h2>
<p>{% display_description "agency" %}</p>

<p class="right">&rarr; <a href="/agents/agences/">Liste des agences</a></p>
{% endblock %}