{% extends "template.html" %}
{% block title %}Agents{% endblock %}
{% block h1 %}Liste des agents{% endblock %}

{% block content %}

<ul>
	<li><a href="#fixer">Les fixers</a></li>
	<li><a href="#yakuza">Les yakuzas</a></li>
</ul>

<h2 id="fixer">Fixers</h2>
<p>Peu de contacts sont aussi importants pour les corpos que les Fixers &ndash; et, fort heureusement, ceux-ci sont faciles à trouver. Après tout, si les gens ne savent pas les trouver, ils n'ont pas de business. <em>Ergo</em>, voici la liste des fixers de Neo-Tokyo.</p>
{% display_entities fixer_list %}

{% for fixer in fixer_list %}
	{% include "agents/fixer_detail.html" %}
{% endfor %}
<div class="spacer"></div>










<h2 id="yakuza">Yakuzas</h2>
<p>Dans la terminologie légale Japonaise, les yakuzas sont connus sous le nom de <em>boryokudan</em>, groupe de violence. Toutefois, les réduire au rôle de gros bras serait une terrible erreur dont certains ne se sont jamais relevés.</p>

<p>Neo-Tokyo accueille les plus influents et mieux intégrés de la planète, tous bien ancrés dans leurs fiefs et leurs éternelles vendettas. Seuls le grand dragon Ryumyo et la mégacorpo Mitsuhama ont assez d'influence pour empêcher les conflits territoriaux de transformer la ville en champ de bataille.</p>
<p>Un <em>kobun</em> est un membre officiel d'un clan Yakuza, habilité à traiter en son nom.</p>
<p>Un <em>oyabun</em> se situe au sommet de la hiérarchie et commande à l'ensemble des kobuns.</p>

{% display_entities yakuza_list %}

{% for yakuza in yakuza_list %}
	{% include "agents/yakuza_detail.html" %}
{% endfor %}
<div class="spacer"></div>

{% endblock %}