{% extends "template.html" %}
{% load markup %}

{% block title %}{{ agency.name}} | Agence{% endblock %}
{% block h1 %}{{ agency.name }}{% endblock %}

{% block content %}
	{% load display_entities %}
	{% display_entities agency %}

	<p><strong>Alliés</strong> : {{ agency.friend }}</p>
	<p><strong>Ennemis</strong> : {{ agency.foe }}</p>

	{{ agency.description|markdown }}
{% endblock %}

{% block end %}
	{{ block.super }} |
	<a href="/agents/agences/">Retour à la liste des agences</a>
{% endblock %}