{% extends "template.html" %}
{% block title %}Agents{% endblock %}
{% block h1 %}Liste des agents{% endblock %}

{% block content %}

<ul>
	<li><a href="#fixer">Les fixers</a></li>
	<li><a href="#yakuza">Les yakuzas</a></li>
	<li><a href="#agence">Les agences</a></li>
</ul>

<h2 id="fixer">Fixers</h2>
<p>Peu de contacts sont aussi importants pour les corpos que les Fixers &ndash; et, fort heureusement, ceux-ci sont faciles à trouver. Après tout, si les gens ne savent pas les trouver, ils n'ont pas de business. <em>Ergo</em>, voici la liste des fixers de Neo-Tokyo.</p>
{% display_entities fixer_list %}

{% for fixer in fixer_list %}
	{% include "agents/fixer_detail.html" %}
{% endfor %}
<div class="spacer"></div>










<h2 id="yakuza">Yakuzas</h2>
<p>Dans la terminologie légale Japonaise, les yakuzas sont connus sous le nom de <em>boryokudan</em>, groupe de violence. Toutefois, les réduire au rôle de gros bras serait une terrible erreur dont certains ne se sont jamais relevés.</p>
{% display_entities yakuza_list %}

{% for yakuza in yakuza_list %}
	{% include "agents/yakuza_detail.html" %}
{% endfor %}
<div class="spacer"></div>











<h2 id="agence">Agences</h2>
<p>On pourrait attendre des agences gouvernementales une probité sans faille et une fidélité à toute épreuve. S'il n'y a pas grand chose à redire sur ce second point, le premier est plus complexe, et graisser la patte de quelques employés est une nécessité récurrente.</p>
{% display_entities agency_list %}

{% for agency in agency_list %}
	{% include "agents/agency_detail.html" %}
{% endfor %}
<div class="spacer"></div>

{% endblock %}