{% extends "template.html" %}
{% load markup %}

{% block title %}{{ fixer.name}} | Fixer{% endblock %}
{% block h1 %}{{ fixer.name }}{% endblock %}

{% block content %}
	<p>{{ fixer.capacity_information }} /
	{{ fixer.capacity_datasteal }} /
	{{ fixer.capacity_sabotage }} /
	{{ fixer.capacity_scandal }} /
	{{ fixer.capacity_protection }}</p>

	{{ fixer.description|markdown }}
{% endblock %}

{% block end %}
	{{ block.super }} |
	<a href="/agents/fixers/">Retour à la liste des fixers</a>
{% endblock %}