{% load markup %}
{% load entity_link %}

<h2 id="{{ player.slug }}">{{ player.name }}</h2>
<img src="{{ player.image }}" alt="{{ player.name }}" class="entity" />

{% display_entities player %}

<ul>
	<li><strong>Citoyenneté corpo</strong> : {% entity_link player.citizen %}
</ul>

<p>Traits :</p>
{{ player.creation_constraints|markdown }}

{{ player.description|markdown }}


<h3>Parts possédées</h3>
<table>
	<thead>
		<tr>
			<th>Corporation</th>
			<th>Parts</th>
		</tr>
	</thead>
	<tbody>
		{% for share in player.shares %}
			<tr>
				<td>{{ share.corporation__name }}</td>
				<td>{{ share.corporation__count }}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
