{% load markup %}
{% load entity_link %}

<h2 id="{{ player.slug }}">{{ player.name }}</h2>
<ul>
	<li><strong>Citoyenneté corpo</strong> : {% entity_link player.citizen %}
	<li><strong>Contraintes</strong> : {{ player.creation_constraints }}
</ul>
{{ player.description|markdown }}


<h2>Actions possédées</h2>
<table>
	<thead>
		<tr>
			<th>Corporation</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		{% for share in shares %}
			<tr>
				<td>{{ share.corporation__name }}</td>
				<td>{{ share.corporation__count }}%</td>
			</tr>
		{% endfor %}
	</tbody>
</table>