body
{
   background:url("city.jpg") repeat fixed center top transparent;
}

a:visited
{
   color:#0000EE;
}

p.right
{
   text-align:right;
}

table
{
   margin:auto;
   border-collapse:collapse;
}

table caption
{
   text-align:right;
   font-variant:small-caps;
}
tr, td, th
{
   border:1px solid black;
   text-align:center;
   min-width:50px;
}

th:first-child
{
   border-top:1px solid transparent;
   border-left:1px solid transparent;
}

td:first-child
{
   font-weight:bold;
   padding:0 20px;
}

#wrapper
{
   width:550px;
   margin:auto;
}

#sidebar
{
   float:right;
   position:relative;
   left:-50%;
   font-family:Audiowide, cursive;
}

#sidebar ul
{
   list-style:none;
   position:relative;
   left:50%;
}

#sidebar li
{
   float:left;
   padding-right:5px;
   padding-bottom:10px;
   position:relative;
}

#sidebar li:after
{
   padding-left:5px;
   content:"|";
}

#sidebar li:last-child:after
{
   padding-left:0;
   content:''
}

#end
{
   text-align:center;
   font-family:Audiowide, cursive;
}

#content
{
   clear:both;
   border:1px solid #AAB123;
   border-radius:5px;
   box-shadow:0 0 20px rgba(0, 0, 0, 0.2);
   padding:10px;
   text-align:justify;
   font-family:"Lucida Sans Unicode","Lucida Grande",sans-serif;
   text-shadow:-2px 1px 3px #DDDDDD;
   background-color:rgba(255,255,255,.7);
}

#content p
{
   text-indent:2em;
}

#content h1, h2, h3, h4, h5
{
   font-family:Syncopate, sans-serif;
}

#content h1
{
   text-align:center;
}

#content h2, h3, h4, h5
{
   border-bottom:1px solid #23AAB1;
}
