{% extends "template.html" %}
{% load markup %}

{% block title %}{{ corporation.name}} | Corporation{% endblock %}
{% block h1 %}{{ corporation.name }}{% endblock %}

{% block head %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
google.load("visualization", "1", {packages:["corechart"]});
google.setOnLoadCallback(drawChart);
function drawChart() {
	var data = google.visualization.arrayToDataTable([
		['Tour', 'Actifs'],
		{% for asset in corporation.asset_set.all %}
			[{{ asset.turn }}, {{ asset.value }}],
		{% endfor %}
	]);

	var options = {
		title: 'Actifs',
		backgroundColor: 'transparent',
		theme: 'maximized',
		pointSize: 4,
		legend: 'none',
	};

	var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
	chart.draw(data, options);
}
</script>
{% endblock %}

{% block content %}
	<p>{{ corporation.get_origin_display|capfirst }} {{ corporation.get_political_position_display }}.</p>

	{% load display_entities %}
	{% display_entities corporation %}

	<div id="chart_div" style="width: 530px; height: 300px;"></div>

	{{ corporation.description|markdown }}

	<h2>Effet premier</h2>
	{{ corporation.on_first|markdown }}

	<h2>Effet dernier</h2>
	{{ corporation.on_last|markdown }}

	<h2>Effet crash</h2>
	{{ corporation.on_crash|markdown }}
{% endblock %}

{% block end %}
	{{ block.super }} |
	<a href="/corpos/">Retour à la liste des corpos</a>
{% endblock %}
