{% extends "template.html" %}
{% block title %}Corporations{% endblock %}
{% block h1 %}Liste des corporations{% endblock %}

{% block head %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
  google.load("visualization", "1", {packages:["corechart"]});
  google.setOnLoadCallback(drawChart);
  function drawChart() {
	var data = google.visualization.arrayToDataTable([
		['Corporation', 'Actifs'],
		{% for corporation in corporation_list %}
			['{{ corporation }}', {{ corporation.current_asset }}],
		{% endfor %}
	]);

	var options = {
		title: 'Bourse',
		backgroundColor: 'transparent',
		pieSliceText: 'value',
		chartArea:{width:"85%"}
	};

	var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
	chart.draw(data, options);
  }
</script>
{% endblock %}

{% block content %}
{% load markup %}
<p>Personne ne sera surpris d’apprendre que les corporations ont une influence étendue à travers tout Neo-Tokyo,
ni que les japanocorps MCT, Shiawase et Renraku sont les plus envahissantes.

Les autres corpos, y compris certaines qualifiées de "gaijins" ne sont pas pour autant insignifiantes,
et, parmi les Big Ten, beaucoup ont leurs compagnies, divisions et intérêts clandestins dans le mégaplexe.

Toutes sont prêtes à se sauter à la gorge, que ce soit sous un prétexte d’honneur, de politique ou de bilan de fin de
trimestre pour tenter de s’emparer du trésor inestimable qu’est Neo-Tokyo.</p>

<h2>Récapitulatif</h2>
{% display_entities corporation_list %}

<div id="chart_div" style="width: 530px; height: 400px;"></div>
{% endblock %}