{% load markup %}

<h2 id="{{ corporation.slug }}">{{ corporation.name }}</h2>

<script type="text/javascript">
google.setOnLoadCallback(drawChart{{ corporation.slug }});
function drawChart{{ corporation.slug }}() {
	var data = google.visualization.arrayToDataTable([
		['Tour', 'Actifs'],
		{% for asset in corporation.asset_set.all %}
			[{{ asset.turn }}, {{ asset.value }}],
		{% endfor %}
	]);

	var options = {
		title: 'Cotation boursière',
		backgroundColor: 'transparent',
		theme: 'maximized',
		pointSize: 4,
		legend: 'none',
	};

	var chart = new google.visualization.LineChart(document.getElementById('chart_{{ corporation.slug}}'));
	chart.draw(data, options);$
}
</script>

{% display_entities corporation %}

<div id="chart_{{ corporation.slug }}" style="width: 530px; height: 300px;"></div>

{{ corporation.description|markdown }}

<h3>En tête</h3>
{{ corporation.on_first|markdown }}
{{ corporation.on_first_effect|markdown }}

<h3>En queue</h3>
{{ corporation.on_last|markdown }}
{{ corporation.on_last_effect|markdown }}

<h3>En crash</h3>
{{ corporation.on_crash|markdown }}
{{ corporation.on_crash_effect|markdown }}